.idea

# workspace is a directory to store all user-created patterns and svgs
workspace
# output is a directory to store digitizer output files
output
*.csv
__pycache__
*.pyc
debug.svg
intersection_test.svg
#*.pes
gen*.svg
#*.png
png
test/*.svg
test/.cache
test/.pytest_cache
